<%include _header%>
<h1> Actualizar tu Nick</h1>
<form action = "/edit" method = "post">
    <div class = "form-group">
        <input name = "displayName" type = "text" class= "form-conytol" placeholder = "Tu Nickname" value ="<% currentZombie.displayName ||""%>"/>
    </div>
    <input type= "submit" value = "Clic para la Magia Chavo" class = "btn btn-primary btn-blck"/>
</form>
<%include _footer%>