

<% include _header %>


<h1> Bienvendido!!</h1>

<div id = 'endonde'>
    <a id = 'endonde'>¿En donde tomar un buen café? </a>
    <iframe id='mapita' src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d116582.0069884129!2d-104.66754494850845!3d24.059693164209218!3m2!1i1024!2i768!4f13.1!2m1!1scucurumbe+durango!5e0!3m2!1ses-419!2smx!4v1534270969392" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>
    <% include _footer %>